*__pycache__*
/venv
/venv-3090
/test
data/
toy_model.log
outputs/
datasets/
figures/
jiant/*
job/*
lightning_logs/*
models/*
outputs/*
venv/*
en_ewt-ud/*
.ipynb_checkpoints/
configs/*/seed_*_step_*/*
configs/*/pythia_160m_step_*/*
src/lightning_logs/*
src/notebooks/lightning_logs/
**/.ipynb_checkpoints/
src/ipynb_checkpoints/
src/notebooks/models
src/notebooks/images